*{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: #E9F1FA;
}
header{
    background-color: #E9F1FA;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    border-radius: 2px;
}
header *{
    display: inline;
}
header a{
    margin: 10px;
    text-decoration: none;
    font-size: large;
}
header a:visited{
    color: #00ABE4;
}
header a:hover{
    color: black;
}
.logo{
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
}

